.container {
    height: 100%;
    width: 100%;
    background-image: url("../../videogame-6006097_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-block-end: 10rem;
  }
  
.detail{
    display: grid;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    margin-left: 4rem;
    margin-right: 4rem;
}

.img {
  height: auto;
  width: 80%;
  border: solid whitesmoke 3px;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 2rem;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
  
  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }
